<div class="mt-4">
    <div class="row">
        <div class="col-lg-3"> <!-- Đổi từ col-log-3 thành col-lg-3 -->
            <button>HỌC NGAY</button>   
        </div>

        <div class="col-lg-9"> <!-- Đổi từ col-log-8 thành col-lg-8 -->
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.VideoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>
