<div class="mt-4">
    <form method="POST">
        <div class="form-group">
                    <label for="search-input"style="color: blue;">Từ khoá</label>
            <input type="text" name = "q" class="form-control" id="search-input"  style="color: blue;" placeholders="Nhập từ khoá...">
        </div>
       
          <div class="form-group">
                     <label for="gender-input">Từ khoá</label>
            <select type="text" name = "gender" class="form-control" id="gender-input">
                                <option value="Chon gioi tinh" style="color: blue;">Chon gioi tinh</option>
              
              
                <option value="Nam">Nam</option>
            
            
                <option value="Nu">Nu</option>
                <option value="LGBT">LGBT</option>    
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>